<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Malinowy Robot - O autorze</title>

</head>
<body>

    <div th:insert="fragments/header :: header"></div>

    <main role="main" class="container">

        <div class="card" style="width: 25rem;">
            <h6 class="card-header">Sebastian Jarosz</h6>
            <img class="card-img-overlay" th:src="@{/img/sebastian_jarosz.png}">
            <div class="card-body">
                <p class="card-text">
                    Jestem studenciak
                </p>
            </div>
            <div class="card-body">
                <a href="https://pl.linkedin.com/in/sjarosz" class="card-link">LinkedIn</a>
            </div>
        </div>

    </main>


    <div th:insert="fragments/footer :: footer"></div>

</body>

</html>