<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:insert="fragments/cssLinks :: header"></div>

<main role="main" class="container">
    <div class="card-body bg-dark text-center p-5 m-5">
        <span class="text-white p-5" th:text="${username}"></span>
        <div>
            <a class="btn mt-3 btn-md btn-secondary text-center" href="/welcome">Wróć!</a>
        </div>
    </div>
</main>

<div th:insert="fragments/jsScripts :: footer"></div>


</body>
</html>