<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Malinowy Robot - Kontroler</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/robot.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

    <!--Icons-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

</head>
<body>

    <div th:insert="fragments/header :: header"></div>

    <div id="connectionStatus" class="text-center container-fluid text-white-50" style="background-color: red">NOT CONNECTED
    </div>
    <br>
    <div id="configButtons" class="text-center container-fluid text-white-50">
        <button id="killButton" value="kill" type="button"
                class="control-btn ">
            KILL
        </button>
        <button id="speedButton" value="speed" type="button"
                class="control-btn ">
            SPEED
        </button>
    </div>

    <div id="connectingInfo" class="text-center text-warning container center-content" style="display: none">
        ŁĄCZENIE Z ROBOTEM
        <br>
        <div class="spinner-border"></div>
    </div>

    <main id="main" role="main" class="container">
        <div id="controlButtons" class="center" style="display: none">
            <div class="text-center">
                <div>
                    <button id="forwardButton" value="forward" type="button"
                            class="control-btn btn btn-dark btn-square">
                        <span class="center-content fas fa-arrow-up arrow"></span>
                    </button>
                </div>
                <div>
                    <button id="leftButton" value="left" type="button"
                            class="control-btn btn btn-dark btn-square">
                        <span class="center-content fas fa-arrow-left arrow"></span>
                    </button>
                    <button id="stopButton" value="stop" type="button"
                            class="control-btn btn btn-dark btn-square">
                        <span class="center-content fas fa-stop arrow"></span>
                    </button>
                    <button id="rightButton" value="right" type="button"
                            class="control-btn btn btn-dark btn-square">
                        <span class="center-content fas fa-arrow-right arrow"></span>
                    </button>
                </div>
                <div>
                    <button id="backwardButton" value="backward" type="button"
                            class="control-btn btn btn-dark btn-square">
                        <span class="center-content fas fa-arrow-down arrow"></span>
                    </button>
                </div>
            </div>
        </div>

        <!--Connect with robot-->
        <div>
            <button id="connectButton" value="connect" type="button"
                    class="center-content btn btn-dark btn-rectangle" style="display: none">
                <span class="center-content">CONNECT WITH ROBOT</span>
            </button>
        </div>

    </main>

    <div th:insert="fragments/footer :: footer"></div>

</body>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/robot.js}"></script>

</html>