<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Robot</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
</head>
<body>

<div class="align-middle align-content-center">
    <span>
        <button name="button" type="button" class="btn btn-primary"></button>
    </span>
</div>
<div class="align-middle align-content-center">
    <span>
        <button name="button" type="button" class="btn btn-primary"></button>
        <button name="button" type="button" class="btn btn-primary"></button>
    </span>
</div>
<div class="align-middle align-content-center">
    <span>
        <button name="button" type="button" class="btn btn-primary"></button>
    </span>
</div>

</body>
</html>