<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Technologie - Malinowy Robot</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/tech.css}"/>

</head>
<body style="padding-top: 300px; background-color: darkgray">

    <div th:insert="fragments/header :: header"></div>

    <div id="techCarousel" class="carousel slide container" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#techCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#techCarousel" data-slide-to="1"></li>
            <li data-target="#techCarousel" data-slide-to="2"></li>
            <li data-target="#techCarousel" data-slide-to="3"></li>
            <li data-target="#techCarousel" data-slide-to="4"></li>
            <li data-target="#techCarousel" data-slide-to="5"></li>
            <li data-target="#techCarousel" data-slide-to="6"></li>
            <li data-target="#techCarousel" data-slide-to="7"></li>
            <li data-target="#techCarousel" data-slide-to="8"></li>
            <li data-target="#techCarousel" data-slide-to="9"></li>
            <li data-target="#techCarousel" data-slide-to="10"></li>
        </ul>

        <!-- Slideshow -->
        <div class="carousel-inner text-center">
            <div class="carousel-item active item">
                <img class="" th:src="@{/img/tech/java.png}" alt="Java">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/python.png}" alt="Python">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/rabbitmq.png}" alt="RabbitMQ">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/bootstrap.png}" alt="Bootstrap">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/github.png}" alt="GitHub">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/html.png}" alt="HTML">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/jquery.png}" alt="jQuery">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/raspberrypi.png}" alt="Raspberry Pi">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/spring.png}" alt="Spring">
            </div>
            <div class="carousel-item item">
                <img class="" th:src="@{/img/tech/thymeleaf.png}" alt="Thymeleaf">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#techCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#techCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>

    <div th:insert="fragments/footer :: footer"></div>

</body>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>

</html>