<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Malinowy Robot - Witaj</title>

</head>
<body>
<div th:insert="fragments/cssLinks :: header"></div>

<main role="main" class="container">
    <div class="card text-white bg-dark p-2 text-center vertical-center-card">
        <h6 class="card-header">Malinowy Robot</h6>
        <div class="card-body">
            <form name="f" th:action="@{/welcome}" method="post">
                <div class="form-group">
                    <input type="text" id="username" name="username" class="form-control"
                           placeholder="Wpisz swoje imię"
                           required>
                </div>
                <div>
                    <button class="btn mt-3 btn-md btn-secondary text-center" type="submit">Zaczynamy!</button>
                </div>
            </form>
        </div>
    </div>
</main>

<div th:insert="fragments/jsScripts :: footer"></div>

</body>


</html>